.travelsupportcontainer{
    min-height: 100vh;
    text-align: center;
    padding-top: 7%;
}

.travelsupportcontainer h2{
    letter-spacing: 7px;
    font-weight: 600;
}

.travelsupportcontainer h1{
    font-size: 40px;
}
.travelsupportcontainer p{
    font-weight: 300;
}

.travelsupportcontainer h1 , .travelsupportcontainer p{
    margin-top: -2%;
}

.plainwing{
  width: 620px;
}

.travelsupportinfoconatiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding-left: 10%;
}

.travelsupportinfoconatiner p{
    width: max-content;
}

.indexdata{
    width: 35px;
    border-radius: 10px;
}



.boxtravelsuppocontainer h2{
    letter-spacing: 0;
    font-size: 25px;

}

.boxtravelsuppocontainer  p{
    font-size: 17px;
}

.indexdata .indexdatap{
    text-align: center;
    width: 35px;
    color: white;
    font-size: 13px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: -40%;
    }


    

@media (max-width : 1023px ) {
    .travelsupportinfoconatiner{
      
        padding-left: 3%;
    }

    .plainwing{
        width: 35% ;
      }
      .travelsupportcontainer{
        min-height: 70vh;
    
    }
   
 }
 
 @media (max-width : 834px ) {
    .travelsupportinfoconatiner{
      
        padding-left: 6%;
    }
 }
 
 @media (max-width : 768px ) {
    .travelsupportinfoconatiner{
        width: 100%;
        padding-left: 1%;
    }

    .travelsupportcontainer{
        min-height: 70vh;
    }

    .plainwing{
        width: 35% ;
      }

      .travelsupportcontainer h2{
   
        font-size: 17px;
    }
    
    .travelsupportcontainer h1{
    
        font-size: 40px;
    
    }
    .travelsupportcontainer p{
        font-weight: 300;
        font-size: 11px;
    
    }
    
    .travelsupportcontainer h1 , .travelsupportcontainer p{
        margin-top: -2%;
    
    }

    .indexdata{
        width: 35px;
        border-radius: 10px;
    }
    .boxtravelsuppocontainer h2{
        font-size: 15px;
    
    }
    
    .boxtravelsuppocontainer  p{
        font-size: 10px;
    }
 }

 @media (max-width : 480px ) {

    .travelsupportcontainer{
        min-height: 50vh;
     
    }
    
   
    .travelsupportcontainer h1{
        font-size: 30px;
    }
    .travelsupportcontainer p{
        font-size: 8px;
    }
    .indexdata{
        width: 30px;
        
    }
    .indexdata .indexdatap{
        width: 30px;
        font-size: 10px;
        }
    .boxtravelsuppocontainer h2{
        font-size: 13px;
    
    }
    
    .boxtravelsuppocontainer  p{
        font-size: 10px;
        width: 80%;
    }
 }
 

 
 
