.MiniorsLoungeContainer{
    min-height: 100vh;
    display: flex;
    align-items: center;
    column-gap: 10%;
   padding-left: 6%;
   
}



.MiniorsLoungeinfo h1{
    font-size: 75px;
    max-width: 60%;
}

.MiniorsLoungeparagraphscontainer{
    display: flex;
    flex-wrap: wrap;
    column-gap: 5%;
}


.BoxMiniorsLoungecontainer{
    max-width: 40%;
}


@media (max-width : 1023px ) {
    .MiniorsLoungeContainer{
        padding-left: 0%;
       
    }

    .MiniorsLoungeContainer{
      
       column-gap: 5%;
       padding-left: 0%;
       
    }
    .MiniorsLoungeinfo h1{
        font-size: 55px;
        max-width: 80%;

    }
    .MiniorsLoungeContainer img{
        width: 40%;
    }
}

@media (max-width : 834px ) {
  
    .MiniorsLoungeinfo h1{
        font-size: 40px;
        max-width:100%;
    }
    .MiniorsLoungeContainer{
      
        column-gap: 3%;
    }
}

@media (max-width : 768px ) {
   .BoxMiniorsLoungecontainer h2{
    font-size:17px;
   }
   .BoxMiniorsLoungecontainer p{
    font-size: 13px;
   }
   .MiniorsLoungeContainer img{
    width: 30%;
}
}

@media (max-width : 480px ) {
    .MiniorsLoungeContainer{
        min-height: 80vh;
    }
    .MiniorsLoungeinfo h1{
        font-size: 30px;
    }
  
}