.BestTravelersMonthcontainer{
    min-height: 70vh;
    text-align: left;
   
}

.BestTravelersMonthcontainer h1{
    font-size: 55px;
    padding-left: 10%;
}

.BoxBestTravelersMonthContainer{
    width: 250px;
    height: 350px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 150px;
    position: relative;

}

.boxBestTravelersMonthcontainercontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 2%;
    flex-wrap: wrap;
    row-gap: 20px;
    position: relative;
    text-align: center;

}

.imagecontainer{
    border-radius: 150px 150px 0 0;
    width: 100%;
    height: 70%;
    background-size: cover;
    
}

.cercle{
    margin-left: auto;
    margin-right: auto;
    margin-top: -10%;
    margin-bottom: 3%;
    border: solid 2px white;
    width: 50px;
    height: 50px;
    border-radius: 100%;
   

}

.cercle img{
    width: 50px;
    height: 50px;
    border-radius: 100%;

}

.BoxBestTravelersMonthContainer p{
    margin-top: -7%;
    font-size: 12px;
}

.BoxBestTravelersMonthContainer h5{
    margin-top: -0.1px;
}


@media (min-width : 1023px ) {

 
}

@media (max-width : 834px ) {
    .BestTravelersMonthcontainer h1{
        font-size: 40px;
        padding-left: 10%;
    }
   
  
   
}

@media (max-width : 768px ) {
   
}

@media (max-width : 480px ) {
    .BestTravelersMonthcontainer h1{
        font-size: 30px;
    }
}

